@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grid-cols-custom {
      grid-template-columns: 17vw 8fr 5fr;
    }

    .grid-cols-sm{
      grid-template-columns: auto 7fr 4fr;
    }

    .grid-cols-cu1{
        grid-template-columns: auto 6fr ;
    }
  }